In [8]:
#Create a new list named numbers with the elements 1, 2, and 3.
numbers=[1,2,3]