In [ ]:
#Create a Python set named fruits with the elements 'apple', 'banana', and 'orange'.
fruits = {'apple', 'banana', 'grapes'}