In [5]:
num1=10
num2=10.0
my_name="hameed"
print(num1,num2,my_name)
print()

10 10.0 hameed